TO DO
- Imports
- Dataset get
- Data processing
- Hyper parameter
- Finish tuning
- Display data
- Display accuracy

## Imports

In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

## Getting Dataset

In [50]:
data = pd.read_csv('merged_steam_data.csv')

data

       appid  name_x  price_x    ccu  name_y
0         10      52    999.0  16360      52
1        220     140    999.0   1177     140
2        240      53    999.0   7752      53
3        550     164    999.0  20328     164
4        620     225    199.0   2793     225
..       ...     ...      ...    ...     ...
334  1593500     129   4999.0  12509     129
335  1677740     274    799.0   4423     274
336  1794680     319    299.0  52451     319
337  1832640     184    199.0   3505     184
338  1843760     245   1499.0   2858     245

[339 rows x 5 columns]

## Data Processing

In [51]:
x = data.drop(columns=['ccu'])
y = data['ccu']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = DecisionTreeRegressor(random_state=42)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)